---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollo de",
    company: "Manchas Plen Air",
    description:
      "Actualmente, estoy trabajando en el desarrollo de una aplicación web enfocada en una agencia de viajes que busca modernizar su presencia en línea. El objetivo principal de este proyecto es proporcionar a los clientes una forma sencilla y rápida de explorar y reservar experiencias de viaje únicas, mejorando la usabilidad y automatizando procesos internos de la agencia.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
